<h1>Sign Up</h1>


<div class='form'>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='field'>
      <label style="color:#737373" class="placeholder-label" type="email">Email</label>
      <%= f.text_field :email, class: 'placeholder-input' %>
    </div>

    <div class='field'>
      <label style="color:#737373" class="placeholder-label" type="password">Password</label>
      <%= f.password_field :password, class: 'placeholder-input' %>
    </div>
    <div align="right">
      <%= f.submit value: "Sign Up", class: "btn btn-default" %>
      <a class="btn btn-default" action="get" href="/sessions/new">Login</a>
  <% end %>
  </div>
</div>

<script>$(".placeholder-input").on("blur", function () {
  $(this).toggleClass("not-empty", !!$(this).val());
});</script>