<% if !@shopping_list_item.nil? && @shopping_list_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @shopping_list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @shopping_list_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart. Please <%= link_to "go back", root_path %> and add some items to your
    cart.
  </p>
<% else %>

  <table>
    <tr>
      <th><h3>Shopping List</h3></th>
      <th></th>
    </tr>
    <% @shopping_list_items.each do |item| %>
      <tr>
        <td><%= link_to '<button type="button">Remove</button>'.html_safe, delete_list_item_path(id: item.id), method: :post %></td>
        <% if item.purchased == true %>
          <td><p style="text-decoration:line-through;"><%= item.name %></p></td>
      <% else %>
          <td><%= item.name %></td>
          <td><%= link_to '<button type="button">Got it!</button>'.html_safe, purchased_path(id: item.id) %></td>
      <% end %>
      </tr>
    <% end %>
  </table>
<% end %>