<h3><%= @item.name %></h3>

<div>
  <%= render partial: 'layouts/form' %>
</div>

<h3>Select any items to add to your Shopping List</h3>

<table class="table">
  <% @products.each do |product| %>
    <tr>
      <td><a action="delete" class="btn btn-default" href="/delete_product" id="<%= product.id %>">Delete</a>
      <td><h4><%= product.name %></h4></td>
      <% if @added_items.collect(&:id).include?(product.id) %>
        <td align="right"><%= button_to "Remove from List", delete_list_item_path(product_id: product.id), method: :post, class: "btn btn-default" %></td>
      <% else %>
        <td align="right"><%= button_to "Add to List", shopping_list_items_path(name: product.name, product_id: product.id), method: :post, class: "btn btn-default" %> </td>
      <% end %>
  <% end %>
  </tr>
</table>
